<!-- Copyright 2020 Karlsruhe Institute of Technology
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License. -->

<template>
  <div class="dropdown" :id="`dropdown-${id}`" :class="{'active': dropdownActive}">
    <div class="input-group input-group-sm responsive-width" @click="showDropdown">
      <input class="form-control custom-input" :placeholder="$t('Quick search')" v-model="query" ref="input">
      <div class="input-group-append" v-if="query">
        <button type="button" class="btn btn-sm input-btn" @click.stop="clearQuery">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="input-group-append" v-else>
        <span class="input-group-text input-btn">
          <i class="fa-solid fa-magnifying-glass fa-sm"></i>
        </span>
      </div>
    </div>
    <div class="dropdown-menu menu responsive-width" :class="{'d-block': dropdownActive}">
      <div v-if="initialized">
        <div class="px-2 my-1" v-if="items.length === 0">
          <strong class="font-identifier text-muted">{{ $t('No results.') }}</strong>
        </div>
        <div v-for="(item, index) in items" :key="item._links.view" v-else>
          <a class="dropdown-item text-default p-2" :href="item._links.view">
            <div class="d-flex justify-content-between">
              <strong class="font-title">{{ item.title | truncate(50) }}</strong>
              <div class="resource-type">
                <span class="badge badge-light border border-muted font-weight-normal ml-3">
                  {{ item.pretty_type }}
                </span>
              </div>
            </div>
            <span class="font-identifier">@{{ item.identifier }}</span>
            <br>
            <span class="text-muted font-timestamp">
              {{ $t('Last modified') }} <from-now :timestamp="item.last_modified"></from-now>
            </span>
          </a>
          <div class="dropdown-divider m-0" v-if="index < items.length - 1"></div>
        </div>
      </div>
      <i class="fa-solid fa-circle-notch fa-spin p-2" v-if="!initialized"></i>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.custom-input {
  background-color: #1a252f;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.dropdown.active {
  .custom-input, .input-btn {
    background-color: white !important;
  }
}

.dropdown-item {
  white-space: normal;
  word-break: break-all;

  &:focus, &:hover {
    background-color: #ecf0f1;
  }
}

.font-identifier {
  font-size: 90%;
}

.font-timestamp {
  font-size: 80%;
}

.font-title {
  font-size: 95%;
}

.input-btn {
  background-color: #1a252f !important;
  border: none;
  color: #aab7b8;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  transition: none;

  &:focus {
    box-shadow: none;
  }
}

.menu {
  margin-top: 1.25rem;
  padding-bottom: 2px;
  padding-top: 2px;
}

.resource-type {
  @media (max-width: 1200px) {
    display: none;
  }
}

.responsive-width {
  width: 225px;

  @media (min-width: 1200px) {
    width: 350px;
  }
}
</style>

<script>
export default {
  data() {
    return {
      id: kadi.utils.randomAlnum(),
      query: '',
      items: [],
      dropdownActive: false,
      initialized: false,
      searchTimeoutHandle: null,
    };
  },
  props: {
    endpoint: String,
  },
  watch: {
    query() {
      this.search();
    },
  },
  methods: {
    search() {
      window.clearTimeout(this.searchTimeoutHandle);

      this.searchTimeoutHandle = window.setTimeout(() => {
        axios.get(`${this.endpoint}?query=${this.query}`)
          .then((response) => {
            this.items = response.data;
            this.initialized = true;
          });
      }, 500);
    },
    showDropdown() {
      if (!this.dropdownActive) {
        this.dropdownActive = true;

        if (!this.initialized) {
          this.search();
        }
      }
    },
    clearQuery() {
      this.query = '';
      this.dropdownActive = true;
      this.$refs.input.focus();
    },
    outsideClickHandler(event) {
      if (event.target.closest(`#dropdown-${this.id}`) === null) {
        this.dropdownActive = false;
      }
    },
  },
  mounted() {
    document.addEventListener('click', this.outsideClickHandler);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.outsideClickHandler);
  },
};
</script>
