{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set _has_terms_of_use = bool(get_sys_config(const.SYS_CONFIG_TERMS_OF_USE)) %}
{% set _has_privacy_policy = bool(get_sys_config(const.SYS_CONFIG_PRIVACY_POLICY)) %}

{% set _terms_of_use =
       '<a href="{}" target="_blank" rel="noopener noreferrer"><strong>{}</strong></a>'
       .format(url_for("main.terms_of_use"), _("Terms of use")) %}

{% set _privacy_policy =
       '<a href="{}" target="_blank" rel="noopener noreferrer"><strong>{}</strong></a>'
       .format(url_for("main.privacy_policy"), _("Privacy policy")) %}

{% if _has_terms_of_use and _has_privacy_policy %}
  {% set legal_notices = "{} {} {}".format(_terms_of_use, _("and"), _privacy_policy) %}
{% elif _has_terms_of_use %}
  {% set legal_notices = _terms_of_use %}
{% else %}
  {% set legal_notices = _privacy_policy %}
{% endif %}
