{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="groups">
  <strong>{% trans %}Groups{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    Groups can be used to group several users together, which primarily facilitates access management.
  {% endtrans %}
</p>
<h5>{% trans %}Creating new groups{% endtrans %}</h5>
<p>
  {% trans %}
    Creating a new group is again similar to creating other resources. Aside from basic metadata, a group picture can
    also be uploaded, which will be shown on the group overview as well as on search result pages.
  {% endtrans %}
</p>
<h5>{% trans %}Managing existing groups{% endtrans %}</h5>
<p>
  {% trans %}
    The management of existing groups is similar to other resources as well. Besides the usual contents, there are
    additional tabs that allow viewing resources that have been shared with a group.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Overview{% endtrans %}</dt>
  <dd class="col-xl-10">
    <p>
      {% trans %}
        This tab provides an overview of a group, mainly related to its metadata. Additionally, the members of a group
        are shown in this overview. Managing the members of a group is comparable to managing the access permissions of
        other resources, as group membership is linked to the access permissions of a group. Specifically, as long as a
        user has any role in a group, they are a member of this group as well, while of course also having the
        respective permissions their role provides within the group.
      {% endtrans %}
    </p>
    {% trans %}
      Besides managing members directly, it is possible to automate the assignment of roles within a group by specifying
      rules with different conditions. Each rule is applied when a new user registers, but it can also be applied
      retroactively to all existing users.
    {% endtrans %}
  </dd>
</dl>
