{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <div class="text-center">
    <h1>{{ status_code }}</h1>
    <h5>{{ message }}</h5>
    <hr>
    {% if description %}
      {{ description }}
    {% else %}
      {% trans %}The service that redirected you here made an invalid authorization request.{% endtrans %}
    {% endif %}
    <hr>
    <a href="{{ url_for('main.index') }}">
      <strong>{% trans %}Return to the homepage.{% endtrans %}</strong>
    </a>
  </div>
{% endblock %}
